.container{
    width: 70%;
    position: relative;
    height: 40px;
    overflow: hidden;

}

.container input{
    width: 100%;
    height: 100%;
    background-color: inherit;
    color: inherit;
    padding-top: 15px;
    border: none;
    outline: none;
    font-size: .9em;
    font-weight: 400;
}

.label-name{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: 1px solid #999999;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9em;
}

.label-name::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid black;
    transform: translateX(-101%);
    transition: all 0.3s ease;
}

.content{
    position: absolute;
    bottom: 3px;
    left: 0;
    transition: all 0.3s ease;
}

.container input:focus + .label-name .content,
.container input:valid + .label-name .content{
    transform: translateY(-120%);
    font-size: 0.8em;
}

.container input:focus +.label-name::after, .container input:valid + .label-name::after{
    transform: translateX(0%);
}