*{
    position: relative;
}

.middle{
    width: 70%;
}

.slider-value{
    text-transform: uppercase;
    font-weight: 400;
}

.slider-container .slider{

    position: relative;
    z-index: 2;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 1px;
    outline: none;
    background-color: transparent;
}


.slider-container .bar .fill{
    display: block;
    width: 50%;
    height: 2px;
    background-color: #232931;
}

.slider-container .bar{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 31px;
    width: 100%;
    height: 1px;
    border-radius: 2px;
    background-color: #999999;
}

.slider-container .slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #eeeeee;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border:  2px black solid;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.slider-container .slider::-webkit-slider-thumb:hover{
    background-color: black;
    box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.1);
}

.slider-container .slider:active::-webkit-slider-thumb{
    background-color: black;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.25);
}

.slider-container .slider::-moz-range-thumb{
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background-color: #eeeeee;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border:  2px black solid;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.slider-container .slider::-moz-range-thumb:hover{
    background-color: black;
    box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.1);
}

.slider-container .slider:active::-moz-range-thumb{
    background-color: black;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.25);
}
